.wrapper {
  /* background-color: #eaeaea !important; */
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  font-size: 12px;
  width: 100vw; /* 100% of the viewport width */
  height: 100vh;
  overflow: auto;
}

.container {
  width: 20vw;
  background-color: #000000;
  margin-top: 80px;
  color: white;
  border-radius: 3px;
}

.follow-button {
  width: 148px;
  font-size: 9px;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-light-blue {
  background-color: #0098fe;
}

.follow-button:hover {
  background-color: #005dbb; /* Complementary color for #0098fe */
}

.btn-dark-grey {
  background-color: #303030;
}

@media screen and (max-width: 1250px) {
  .container {
    width: 50%;
  }
}

@media screen and (max-width: 505px) {
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 315px) {
  .container {
    width: 100%;
  }
}
